<!DOCTYPE html>
<html>
  <head>
    <title><%= 'actors' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= actor.first_name + ' ' + actor.last_name%></h1>

  </body>
</html>
