extends layout

block css
  link(rel='stylesheet', href='/css/chatroom.css')

block scripts
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')

block navMenu
  li: a(href='/') Home
  li: a(href='/auth/logout') Logout

block content
  h1= title
  #disconected.offline
    p You are working offline! !o!
  #connected.hide.online
    p Connected :)
  ul#messages
  form(action="")
    input(id="m",autocomplete="off")
    button(id="b" type='submit') >>

  script.
    const clientMessage = {message: "PONG"}
    const endPoint = 'http://'+window.location.hostname+':3000';
    console.log("endpoint: " + endPoint);
    const socket = io.connect(endPoint);

    function toggle() {
      console.log("toggling");
      $("#disconected").toggleClass("hide");
      $("#connected").toggleClass("hide");
    }
    socket.on('connected', function (data) {
      console.log('Connected !! ' + data);
      $('#messages').append($('<li>').text(data));
      toggle();
    });
    socket.on('disconnect', function () {
      console.log('Connection lost!');
      toggle();
    });
    socket.on('chat message', function(data){
        console.log("incomming message["+socket.id+"]: " + data);
        let msg = data.text;
        if (socket.id !== data.emitter) {
            msg = `[${data.emitter}]: ${data.text}`;
        }
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
    });
    socket.on('broadcast', function(msg){
        console.log("broadcast message: " + msg);
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
    });

    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });