body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.online {
    background-color: #2f8804;
    color: white;
}
.offline {
    background-color: #885562;
    color: black;
}

.hide {
    display: none;
}
