extends layout

block content
  h1= title
  #disconected.offline
    p You are working offline! !o!
  #connected.hide.online
    p Connected :)
  h2 You have clicked 0 times!
  input(type='button', value='Send click')#button
  input(type='button', value='Send PONG')#pong
  div#container


  script.
    const clientMessage = {message: "PONG"}
    const socket = io.connect('http://#{ip}:3000');

    function toggle() {
      console.log("toggling");
      $("#disconected").toggleClass("hide");
      $("#connected").toggleClass("hide");
    }

    socket.on('connected', function () {
      console.log('Connected !!');
      toggle();
    });

    $('#button').click(function(){
      socket.emit('click');
    });
    socket.on('totalClicks', function(clicks){
      console.log('Clicks from server: '+clicks);
      $('h2').replaceWith('<h2>You have clicked '+clicks+' times!');
    });

    socket.on('disconnect', function () {
      console.log('Connection lost!');
      toggle();
    });

    $('#pong').click(function(){
      socket.emit('client-pong', clientMessage);
    });
    socket.on('server-ping', function (data) {
      const container =  document.getElementById('container')
      container.innerHTML = container.innerHTML + '<h5><span style="color:blue">Server say => </span> ' + data.message + ' </h5>'
      socket.emit('client-pong', clientMessage);
      container.innerHTML = container.innerHTML + '<h5><span style="color:green">Client say => </span> ' + clientMessage.message + ' </h5>'
    });


