doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title My express site
  body
    .header
      h1.page-title My express site

    ul.nav
      li: a(href='/') Home
      li: a(href='/sales') Sales
      li: a(href='/team') Team
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2019 <a href="http://dtodo1paco.github.io/cv/">@dtodo1paco</a>
